*{
    padding:0;
    margin:0;

}
body{
    background-color: black;
}

section{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position:absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin:auto;
    display: flex;
    align-items:center;
    height: 70px;

}
nav span svg{
    width:130px;
    fill:#E50914;
    display:block;
    text-decoration: solid;
    position: relative;
    z-index: 10;
}
nav div {
    position: relative;
    z-index: 10;
}

.lang{
    padding: 2px 8px;
    font-weight: 400;
    color: white;
    font-size: medium;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.sign{
    background-color: red;
    color: white;
    padding:2px 8px ;
    font-size: medium;
    border-radius: 4px;
    font-weight: 400;
}

.separation{
    height: 7px;
    background-color: rgb(46, 44 ,44);
    position: relative;
    z-index: 20;
}
