*{
    padding:0;
    margin:0;

}
body{
    background-color: black;
    opacity: 0.69;
}

section{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:20px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
nav span svg{
    width:100px;
    fill:#E50914;
    display:block;
}
nav div {
    display: flex;
    gap: 15px;
    align-items: center;
}

div.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    gap: 23px;
    padding: 0 30px;
    position: relative;
}