*{
    padding: 0;
    margin: 0;
}
section{
    background-image: url("assets/images/bg.jpg");
    height: 80vh;
}

section .box{
    height: 80vh;
    width: 100%;
    opacity: 0.2;
    background-color: black;
}


