*{
    padding:0;
    margin:0;

}
body{
    background-color: black;
}

section{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
.main .box{
    height: 644px;
    width: 100px;
    opacity: 0.69;
    position:absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin:auto;
    display: flex;
    align-items:center;
    height: 100px;

}
nav span svg{
    width:140px;
    fill:#E50914;
    display:block;
    text-decoration: solid;
    padding-left:;
    opacity: 1;
}
nav div {
    display: flex;
    gap: 15px;
    align-items: center;
}

